/* Link font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #000000;
  height: 2000px;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 7%;
  background-color: #ffffff;
  border-bottom: 2px solid rgba(1, 1, 3, 0.5);
  box-shadow: 1px 1px 10px #000000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
}

.navbar .dropdown {
  position: relative;
  display: inline-block;
}

.navbar .dropdown .dropbtn {
  display: flex;
  gap: 7px;
  margin-left: -25px;
  cursor: pointer;
}

.navbar .dropdown .dropbtn img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.navbar .dropdown .dropbtn span {
  font-weight: 600;
}

.navbar .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 10px;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  margin-top: 24px;
  z-index: 1;
}

.navbar .dropdown .dropdown-content a {
  display: block;
  padding: 8px;
  color: #000000;
}

.navbar .dropdown .dropdown-content a:hover {
  background-color: #bbbbbb;
  color: #ffffff;
  transition: 0.3 ease-in-out;
}

.navbar .link {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar .link a {
  color: #000000;
  font-size: 14px;
  font-weight: 600;
}

#menu {
  display: none;
}

/* hero */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(image/PONDOK.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 10%,
    rgba(255, 255, 255, 0) 65%
  );
}

.hero .hero-img {
  padding: 19px 7%;
  max-width: 60rem;
}

.hero .hero-img h1 {
  font-size: 70px;
  line-height: 1.2;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .hero-img h2 {
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* about */
.about,
.guide {
  padding: 5rem 7%;
}

.about img {
  width: 10rem;
  display: flex;
  margin: auto;
}

.about p {
  max-width: 50rem;
  text-align: center;
  margin: auto;
  padding-top: 16px;
}

.about .wrapper {
  display: flex;
  gap: 5rem;
  margin: 3rem;
}

.about .wrapper .visi .visidesc h2,
.about .wrapper .misi .misidesc h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about .wrapper .visi .visidesc p {
  text-align: justify;
  text-indent: 2rem;
  line-height: 1.6;
}

.about .wrapper .misi .misidesc ol li {
  text-align: justify;
  line-height: 1.6;
}

/* guide */
.guide h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.guide .guide-flow {
  display: flex;
  gap: 8rem;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
}

.guide .guide-flow .form,
.guide .guide-flow .school-choice,
.guide .guide-flow .collect-files {
  width: 40rem;
}

.guide .guide-flow .form h3,
.guide .guide-flow .school-choice h3,
.guide .guide-flow .collect-files h3 {
  font-size: 16px;
  text-align: justify;
}

.guide .guide-flow .form .card,
.guide .guide-flow .school-choice .card {
  text-align: center;
  padding: 8px;
  margin-top: 32px;
  background-color: #008316fa;
  border-radius: 10px;
  box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.75);
}

.guide .guide-flow .form .card a,
.guide .guide-flow .school-choice .card a {
  font-size: 20px;
  color: #ffffff;
}

.guide .guide-flow .form .card:hover,
.guide .guide-flow .school-choice .card:hover {
  background-color: #00570f;
  animation: scale 0.5s ease-out forwards;
}

.guide .guide-flow .collect-files .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

/* Footer */
footer {
  background-color: #333;
  text-align: center;
  padding: 1rem 0 2rem;
  margin-top: 3rem;
}

footer .sosial {
  font-size: 1.4rem;
  padding: 1.2rem 0;
  color: #e4e4e4;
  margin: 1rem;
}

footer .links a:hover {
  color: #ffffff;
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #e4e4e4;
  padding: 0.7rem 3rem;
}

@keyframes scale {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-4px);
  }
}

/* Media Queries */

/* Laptop */
@media (max-width: 768px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #menu {
    display: inline-block;
    cursor: pointer;
  }

  .navbar .dropdown .dropbtn {
    display: none;
  }

  .navbar .dropdown .dropdown-content {
    display: block;
    left: -1000px;
    position: absolute;
    background-color: #fff;
  }

  .navbar .dropdown .dropdown-content.active {
    left: 0;
  }

  .navbar .dropdown .dropdown-content a {
    color: #000000;
    display: block;
    margin: 0.5rem;
    font-size: 1.5rem;
  }

  .navbar .dropdown .dropdown-content a:hover {
    color: #000000;
  }

  .navbar .link {
    gap: 20px;
  }

  .navbar .link a {
    font-size: 12px;
  }

  .hero .hero-img h1 {
    font-size: 50px;
  }

  .hero .hero-img h2 {
    font-size: 13px;
  }

  .about .wrapper {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .guide .guide-flow .form .card a,
  .guide .guide-flow .school-choice .card a {
    font-size: 16px;
  }

  .guide .guide-flow .collect-files .card iframe {
    width: 40rem;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
